@font-face {
  font-family: 'Photon';
  src: url('../../node_modules/photonkit/dist/fonts/photon-entypo.eot'),
       url('../../node_modules/photonkit/dist/fonts/photon-entypo.woff') format('woff'),
       url('../../node_modules/photonkit/dist/fonts/photon-entypo.ttf')  format('truetype'),
       url('../../node_modules/photonkit/dist/fonts/photon-entypo.svg#photon-entypo') format('svg');
}

html,
body {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Photon', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}
header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
footer {
  -webkit-app-region: no-drag!important;
}
h1 {
  text-align:center;
}
h1.title {
  font-size:13px;
  padding:4px 0;
  width:100%;
}
.btn .icon, .nav-group-item .icon {
  color:#333;
}
.btn.active, .btn.active .icon {
  background:#333;
}
.window-buttons {
  position:absolute;
  top:2px; right:6px;
}
.window-buttons .btn {
  padding:0 1px;
  cursor: pointer;
  font-size:16px;
  box-shadow:none;
}
.exref, .exref button {
  cursor: pointer;
}
.form-actions {
  margin-top:30px;
}
.form-control:focus {
  border-color: #555;
  box-shadow: 0 0 0 3px #555;
}
.pane-sm {
  min-width: 200px;
}
.connected {
  color:rgba(253,188,64,1);
}
.pane.device {
  text-align:center;
  color:#555;
  padding-top:20px;
  background:#eee;
}
.pane.device p {
  font-size:14px;
}
.device .header {
  background: #333;
  color:#fff;
  margin-top: -20px;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.device .header h1 {
  margin:0;
}
.device .header p {
  margin:0;
}
.status {
  padding:50px 20px;
  overflow:auto;
}
.status .pull-left, .status .pull-right {
  width:50%;
  padding:0 30px;
}
.status h4 {
  margin:0;
}
.status hr {
  margin:5px 0 15px 0
}
.status .device {
  border-radius: 50%;
  border: 1px solid #ccc;
  background:#fcfcfc;
  width: 175px;
  height: 175px;
  margin:auto;
  text-align: center;
  position:relative;
}
.status .device > .icons {
  height:150px;
  color:#555;
}
.status .device > .icons > .nonbox {
  width:90px;
  height:90px;
  background: #222;
  border-radius:15px;
  margin:10px auto 0 auto
}
.status .device > .icons > .icon-drive,
.status .device > .icons > .nonbox {
  font-size: 110px;
  position:relative;
  bottom:-3px;
  line-height: 0;
}
.status .device > .icons > .icon-signal {
  font-size: 40px;
  position:relative;
  top:12px;
  line-height: 0;
}
.status .device > .icons > .icon-check,
.status .device > .icons > .icon-cancel {
  font-size: 50px;
  position:absolute;
  top:58px; left:0; right:0;
  margin:auto;
  z-index:100;
}
.status table {
  height: 120px;
  width: 170px;
  margin:10px auto;
  border: 1px solid #ddd;
  border-radius: 7px;
  overflow:hidden;
}
.status table tr td.stat {
  text-align:center;
}
.status table .online-status td:last-child {
  font-size:18px;
  line-height:12px;
}
.status .icon-check, .green {
  color:#29a03b;
}
.status .icon-cancel, .red {
  color:#fb2f29;
}
.yellow {
  color:rgba(253,188,64,1);
}
.status .list-group {
  text-align:left;
}
.status h4 {
  margin: 0;
  font-weight:bold;
}
.status .status h4 {
  /*padding-left: 24px;*/
}
.status .connected-devices h4 {
  text-align:left;
  padding-left: 14px;
}

.nav-group-item {
  /*cursor:pointer;*/
}
.nav-group-item.active {
  background-color:transparent;
  /*color:#fff;*/
}
.nav-group-item:focus {
  /*background-color:transparent;*/
}
.nav-group-item:hover {
  background-color:#ddd;
}
.list-group-item {
  padding:15px;
  color:#555;
  overflow:auto;
}
.list-group-item:hover {
  background:#f2f2f2;
}
.list-group-item > .media-object {
  font-size:38px;
  line-height:38px;
  color:#fdbc40;
}
.list-group-item > .media-body > .top {
  font-size:14px;
}
.list-group-item > .media-body > .bottom {
  color:#777;
}
.list-group-item > .actions {
  float:right;
  text-align:right;
  position: relative;
  top: 8px;
}
.list-group-item > .actions > .btn {
  cursor:pointer;
}
.list-group-item.open-network {
}

dialog {
  min-width:325px;
  padding: 0;
  border: 1px solid #bebebe;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  overflow: hidden;
  color:#777;
  &::backdrop {
    background: rgba(0,0,0,0.2);
  }
}
dialog > form, dialog .list-group-item, dialog .list-group-item:hover {
  background:#fcfcfc;
  padding:15px;
}
dialog > form .form-control:focus {
  border: 1px solid #ddd;
  box-shadow:none;
}

/* info */
.info-page.show .back {
  background: #333;
  color: #fff;
  padding: 15px 25px;
}
.info-page.show .top {
  margin:0 25px;
}
.info-page.show li {
  border-width:0;
}
.info-page.show li p {
  font-size:13px;
  margin-top:5px;
}
.info-page.show li:hover {
  background:transparent;
}
.tutorials .icon, .steps .icon {
  width:32px;
  height:32px;
  font-size:32px;
  line-height:32px;
  margin-right:12px;
  text-align:center;
}

.info-page.show .bug-report {
  background:#333;
  color:#fff;
  text-align:center;
}
.info-page.show .bug-report h1 {
  margin:0;
}
.info-page.show .bug-report, .info-page.show .bug-report-form {
  padding:15px 40px;
}
.pr-page {
  background:#333;
  color:#fff;
  text-align:center;
}
.pr-page .icon {
  font-size:100px;
  margin:10px;
}
.pr-page .btn {
  padding: 12px 16px;
}
.pr-page a:link {
  color:#333;
  text-decoration:none;
  cursor:pointer;
  font-size:14px;
}
.support-page {
  padding:0 30px;
  /*text-align:center;*/
}
.support-page p {
  font-size:14px;
  margin:20px;
  color:#555;
}
.support-page a {
  color:rgba(253,188,64,1);
  font-weight:bold;
  /*cursor:pointer;*/
  text-decoration:none;
}
.support-page .forum {
  text-align:center;
  font-size:16px
}
.support-page .forum .icon {
  font-size:72px;
}
