<div class="info-page show">
  <div class="bug-report">
    <h1>Submit Bug Report</h1>
    <p>Found a bug? Let us know so we can fix it! Bug reports are not requests for nonbox support or for reporting general issues. They are for specific confirmed bugs. If you're a developer, feel free to submit a pull request on Github.</p>
  </div>
  <br>
  <div class="bug-report-form">
    <form ng-submit="submit(body)">
      <div class="form-group pull-left" style="width:48%">
        <label>Name (optional)</label>
        <input type="name" ng-model="body.name" class="form-control" placeholder="Non User">
      </div>
      <div class="form-group pull-right" style="width:48%">
        <label>Email (optional)</label>
        <input type="email" ng-model="body.email" class="form-control" placeholder="non@email.com">
      </div>
      <div style="clear:both"></div>
      <div class="form-group">
        <label>Bug description</label>
        <textarea ng-model="body.message" class="form-control" rows="3" placeholder="What's the bug? When does it occur? Give steps to reproduce, and be as descriptive as possible" required></textarea>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-form btn-default btn-large">Submit</button>
        <span class="icon icon-{{message.icon}} {{message.color}}"> {{message.text}}</span>
      </div>
    </form>
  </div>
</div>
