<header class="toolbar toolbar-header">
  <div class="logo-icon">
    <img src="app/images/icon.png">
  </div>
  <h1 class="title">
    nonbox connect
  </h1>
  <span class="window-buttons">
    <a title="minimize"
       ng-click="currentWindow('minimize')"
       class="btn icon icon-minus-circled yellow">
    </a>
    <a title="close"
       ng-click="currentWindow('close')"
       class=" btn icon icon-cancel-circled red">
    </a>
  </span>

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="device" ui-sref-active="active">
        <span class="icon icon-drive"></span>
      </button>
      <button class="btn btn-default" ui-sref="networks" ui-sref-active="active">
        <span class="icon icon-signal"></span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="quickstart" ui-sref-active="active">
        <span class="icon icon-clipboard"></span>
      </button>
      <button class="btn btn-default" ui-sref="tutorials" ui-sref-active="active">
        <span class="icon icon-graduation-cap"></span>
      </button>
      <button class="btn btn-default" ui-sref="support" ui-sref-active="active">
        <span class="icon icon-chat"></span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="bugs" ui-sref-active="active">
        <span class="icon icon-tools"></span>
      </button>
      <button class="btn btn-default" ui-sref="suggestions" ui-sref-active="active">
        <span class="icon icon-lamp"></span>
      </button>
      <button class="btn btn-default" ui-sref="pr" ui-sref-active="active">
        <span class="icon icon-flow-cascade"></span>
      </button>
    </div>

    <button class="btn btn-default btn-dropdown pull-right">
      <span class="icon icon-drive"></span>&nbsp;&nbsp;
      Nonbox Cloud
    </button>
  </div>
</header>
