<header class="toolbar toolbar-header">
  <h1 class="title">nonbox</h1>

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="devices" ui-sref-active="active">
        <span class="icon icon-drive"></span>
      </button>
      <button class="btn btn-default" ui-sref="networks" ui-sref-active="active">
        <span class="icon icon-signal"></span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="quickstart" ui-sref-active="active">
        <span class="icon icon-clipboard"></span>
      </button>
      <button class="btn btn-default" ui-sref="tutorials" ui-sref-active="active">
        <span class="icon icon-graduation-cap"></span>
      </button>
      <button class="btn btn-default" ui-sref="support" ui-sref-active="active">
        <span class="icon icon-chat"></span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="bugs" ui-sref-active="active">
        <span class="icon icon-tools"></span>
      </button>
      <button class="btn btn-default" ui-sref="suggestions" ui-sref-active="active">
        <span class="icon icon-lamp"></span>
      </button>
      <button class="btn btn-default" ui-sref="pr" ui-sref-active="active">
        <span class="icon icon-flow-cascade"></span>
      </button>
    </div>

    <button class="btn btn-default btn-dropdown pull-right">
      <span class="icon icon-drive"></span>&nbsp;&nbsp;
      Current Device
    </button>
  </div>
</header>
