<ng-include src="'app/views/passwordDialog.html'"></ng-include>
<div class="pane-group">
  <div class="pane networks">
    <h1>Wifi networks in range</h1>
    <hr/>
    <ul class="list-group">
      <li class="list-group-item"
          ng-repeat="network in networks | orderBy: network.signal_strength"
          ng-class="{'open-network':!network.security}">
        <div class="actions">
          <button ng-hide="current.ssid == network.ssid"
                  ng-click="connect(network)"
                  class="btn btn-default">Connect</button>
          <button ng-show="current.ssid == network.ssid"
                  ng-click="disconnect()"
                  class="btn btn-warning">Disconnect</button>
        </div>
        <span class="icon icon-signal media-object pull-left"
          ng-style="{'color':colorStrength(network.signal_level)}">
        </span>
        <div class="media-body">
          <strong class="top" ng-bind="network.ssid"></strong>
          <p class="bottom" ng-show="network.security">
            <span class="icon icon-lock"></span>
            <span ng-bind="network.security"></span>
            <span ng-show="current.ssid == network.ssid" class="connected">
              &nbsp;&nbsp;<strong>connected</strong>
            </span>
          </p>
          <p class="bottom" ng-show="!network.security">
            <span class="icon icon-lock-open"></span> Open
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
