<dialog id="passwordDialog">
  <header class="toolbar toolbar-header">
    <h1 class="title">Connect to {{currentAp.ssid}}</h1>
  </header>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="icon icon-signal media-object pull-left"
        ng-style="{'color':colorStrength(currentAp.signal_level)}">
      </span>
      <div class="media-body">
        <strong class="top" ng-bind="currentAp.ssid"></strong>
        <p class="bottom" ng-show="currentAp.security">
          <span class="icon icon-lock"></span>
          <span ng-bind="currentAp.security"></div>
        </p>
        <p class="bottom" ng-show="!currentAp.security">
          <span class="icon icon-lock-open"></span> Open
        </p>
      </div>
    </li>
  </ul>
  <form>
    <div class="form-group">
      <input ng-model="currentAp.password"
        type="password"
        class="form-control"
        placeholder="Enter Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Save this network
      </label>
    </div>
  </form>
  <footer class="toolbar toolbar-footer">
    <div class="toolbar-actions">
      <button ng-click="cancelConnect()" class="btn btn-form btn-default">Cancel</button>
      <button ng-click="secureConnect(currentAp)" class="btn btn-form btn-warning pull-right">Connect</button>
    </div>
  </footer>
</dialog>
