<div class="info-page show">
  <div class="top">
    <h1>Quickstart Guide</h1>
    <p>Use this guide to quickly get connected to your nonbox device. It's a very simple process overall, so follow the steps below and enjoy being anonymous :)</p>
  </div>
  <ul class="list-group steps">
    <li class="list-group-item">
      <span class="icon pull-left">1</span>
      <div class="media-body">
        <p>fretyrewrtaeysrydt r3t tryjrhsrga wgetj rsagefehaesrj hge</p>
      </div>
    </li>
    <li class="list-group-item">
      <span class="icon pull-left">2</span>
      <div class="media-body">
        <p>fretyrewrtaeysrydt r3t tryjrhsrga wgetj rsagefehaesrj hge</p>
      </div>
    </li>
    <li class="list-group-item">
      <span class="icon pull-left">3</span>
      <div class="media-body">
        <p>fretyrewrtaeysrydt r3t tryjrhsrga wgetj rsagefehaesrj hge</p>
      </div>
    </li>
  </ul>
</div>
