<nav class="nav-group">
  <h5 class="nav-group-title">Hotspots</h5>
  <a class="nav-group-item" ui-sref="devices" ui-sref-active="active">
    <span class="icon icon-drive"></span>
    Devices
  </a>
  <a class="nav-group-item" ui-sref="networks" ui-sref-active="active">
    <span class="icon icon-signal"></span>
    Networks
  </a>

  <h5 class="nav-group-title">Documentation</h5>
  <a class="nav-group-item" ui-sref="quickstart" ui-sref-active="active">
    <span class="icon icon-clipboard"></span>
    Quickstart
  </a>
  <a class="nav-group-item" ui-sref="tutorials" ui-sref-active="active">
    <span class="icon icon-graduation-cap"></span>
    Tutorials
  </a>
  <a class="nav-group-item" ui-sref="support" ui-sref-active="active">
    <span class="icon icon-chat"></span>
    Support
  </a>

  <h5 class="nav-group-title">Open Source</h5>
  <a class="nav-group-item" ui-sref="bugs" ui-sref-active="active">
    <span class="icon icon-tools"></span>
    Bug Report
  </a>
  <a class="nav-group-item" ui-sref="suggestions" ui-sref-active="active">
    <span class="icon icon-lamp"></span>
    Suggestion
  </a>
  <a class="nav-group-item" ui-sref="pr" ui-sref-active="active">
    <span class="icon icon-flow-cascade"></span>
    Pull Request
  </a>
</nav>
