<div class="info-page show">
  <div class="bug-report">
    <h1><span class="icon icon-lamp"></span>&nbsp;&nbsp;Have a Suggestion?</h1>
    <p>nonbox is in it's early stages. As we continue to develop products that advocate anonymity, security, and online privacy, your suggestions are more than welcome.</p>
  </div>
  <br>
  <div class="bug-report-form">
    <form ng-submit="submit(body)">
      <div class="form-group pull-left" style="width:48%">
        <label>Name (optional)</label>
        <input type="text" ng-model="body.name" class="form-control" placeholder="Non User">
      </div>
      <div class="form-group pull-right" style="width:48%">
        <label>Email (optional)</label>
        <input type="email" ng-model="body.email" class="form-control" placeholder="non@email.com">
      </div>
      <div style="clear:both"></div>
      <div class="form-group">
        <label>Suggestion Box</label>
        <textarea ng-model="body.message" class="form-control" rows="3" placeholder="What's your idea/suggestion?" required></textarea>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-form btn-default btn-large">Submit</button>
        <span class="icon icon-{{message.icon}} {{message.color}}"> {{message.text}}</span>
      </div>
    </form>
  </div>
</div>
