<!-- show all tutorials -->
<div ng-hide="showMode" class="info-page index">
  <h1>Tutorials and Guides</h1>
  <ul class="list-group tutorials">
    <li class="list-group-header">
      <input ng-model="search" class="form-control" type="text" placeholder="Filter tutorials">
    </li>
    <li class="list-group-item"
        ng-repeat="tutorial in tutorials | filter:search"
        ng-click="show(tutorial)">
      <span class="icon icon-{{tutorial.icon}} pull-left"></span>
      <div class="media-body">
        <strong ng-bind="tutorial.title"></strong>
        <p ng-bind="tutorial.description"></p>
      </div>
    </li>
  </ul>
</div>
<!-- show one tutorial -->
<div ng-show="showMode" class="info-page show">
  <div ng-click="showMode=false" class="back">
    <span class="icon icon-left-open-big"></span>&nbsp;&nbsp;All Tutorials
  </div>
  <div class="top">
    <h2 ng-bind="tutorial.title"></h2>
    <p ng-bind="tutorial.description"></p>
  </div>
  <ul class="list-group tutorials">
    <li class="list-group-item" ng-repeat="step in tutorial.steps | orderBy:'order'">
      <span class="icon pull-left" ng-bind="step.order"></span>
      <div class="media-body">
        <p ng-bind="step.text"></p>
      </div>
    </li>
  </ul>
</div>
